*{
    color: black;
    margin: 0 auto;
    padding: 0;
}

li{
    list-style-type: none;
    color: black;
    padding: 30px;
}

h4{
    color: black;
}

.Navbar{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.NavBar{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}